:root {
  font-family: Monocraft;
  line-height: 1;
  font-weight: 400;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


@font-face {
  font-family: Monocraft;
  src: url('./resources/fonts/Monocraft.otf');
}